@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);

@import 'variables';

.no-pad {
  padding: 0 !important;
}

.video-list-item {
  text-decoration: none;
  position: relative;
  display: block;
  width: 100%;
  padding: 15px;
  vertical-align: middle;
  line-height: 40px;
  overflow-x: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .video-number {
    background: #009688;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
